/* Goblin Run Anime */
@keyframes goby-anime {
    0% {
        left: 120%;
        bottom: 20%;
        transform: rotate(0deg);
    }

    50% {
        bottom: 5%;
    }

    100% {
        left: -60%;
        bottom: 17%;
        transform: rotate(0deg);
    }
}

/* Goblin speed Anime */
@keyframes goby-speedup {
    0% {
        left: 120%;
        bottom: 15%;
        transform: rotate(-20deg);
    }

    100% {
        left: -60%;
        bottom: 35%;
        transform: rotate(-20deg);
    }
}


/* Goblin boosters Animes */
@keyframes booster-anime {
    0% {
        filter: blur(5px);
    }

    50% {
        filter: blur(2px);
    }

    100% {
        filter: blur(5px);
    }
}

/* Goblin bullets Animes */
@keyframes bullet1-anime {
    0% {
        left: 80%;
        top: 53%;
    }


    100% {
        left: 0%;
        top: 100%;
    }
}

@keyframes bullet2-anime {
    0% {
        left: 70%;
        top: 53%;
    }


    100% {
        left: 0%;
        top:92%;
    }
}