/* --------- DEFAULT ANIME ---------- */
/* --------- DEFAULT ANIME ---------- */
/* spider-man default run impact */
@keyframes sm-def {
    0% {
        bottom: 10%;
    }

    50% {
        bottom: 9.5%;
    }

    100% {
        bottom: 10%;
    }
}

/* spider-man arms anime */
@keyframes sm-def-arms {
    0% {
        top: 18%;
        left: 55%;
        transform: rotate(0deg)
    }

    50% {
        top: 40%;
        left: 25%;
        transform: rotate(180deg)
    }

    100% {
        top: 18%;
        left: 55%;
        transform: rotate(0deg)
    }
}

/* spider-man legs anime */
@keyframes sm-def-legs {
    0% {
        bottom: 7%;
        left: 50%;
        transform: rotate(0deg)
    }

    50% {
        bottom: 18%;
        left: 9%;
        transform: rotate(120deg)
    }

    100% {
        bottom: 7%;
        left: 50%;
        transform: rotate(0deg)
    }
}

/* --------- JUMP ANIME ---------- */
/* --------- JUMP ANIME ---------- */
/* spider-man jump anime */
@keyframes sm-jump {
    0% {
        bottom: 10%;
    }

    10% {
        bottom: 8%;
        transform: rotate(0deg);
    }

    20% {
        bottom:320px;
        transform: rotate(0deg);
    }

    60% {
        bottom:320px;
        transform: rotate(360deg);
    }

    70% {
        bottom: 25%;
        transform: rotate(360deg);
    }

    75% {
        bottom: 10%;
        transform: rotate(360deg);
    }

    80% {
        bottom: 8%;
        transform: rotate(360deg);
    }

    100% {
        bottom: 10%;
        transform: rotate(360deg);
    }
}

/* spider-man legs anime when jump */
@keyframes sm-jump-legs {
    0% {
        bottom: 6%;
        left: 50%;
        transform: rotate(0deg);
    }

    40% {
        bottom: 30%;
        left: 60%;
        transform: rotate(-60deg);
    }

    80% {
        bottom: 30%;
        left: 60%;
        transform: rotate(-60deg);
    }

    100% {
        bottom: 6%;
        left: 50%;
        transform: rotate(0deg);
    }
}

/* --------- SLIDE ANIME ---------- */
/* --------- SLIDE ANIME ---------- */
/* spider-man slide */
@keyframes sm-slide {
    0% {
        bottom: 10%;
        left: 5%;
        transform: rotate(0deg)
    }

    40% {
        bottom: 0%;
        left: 5%;
        transform: rotate(-90deg);
    }

    90% {
        bottom: 0%;
        left: 5%;
        transform: rotate(-90deg);
    }

    100% {
        bottom: 10%;
        left: 5%;
        transform: rotate(0deg)
    }
}

/* spider-man arms anime when slide */
@keyframes sm-slide-arms {
    0% {
        top: 15%;
        left: 45%;
        transform: rotate(0deg)
    }

    50% {
        top: 15%;
        left: 20%;
        transform: rotate(-120deg)
    }

    70% {
        top: 15%;
        left: 20%;
        transform: rotate(-120deg)
    }

    100% {
        top: 15%;
        left: 45%;
        transform: rotate(0deg)
    }
}

/* spider-man legs anime when slide */
@keyframes sm-slide-legs {
    0% {
        bottom: 5%;
        left: 50%;
        transform: rotate(0deg)
    }

    20% {
        bottom: 15%;
        left: 20%;
        transform: rotate(110deg)
    }

    90% {
        bottom: 15%;
        left: 20%;
        transform: rotate(120deg)
    }

    100% {
        bottom: 5%;
        left: 50%;
        transform: rotate(0deg)
    }
}