/* goblin */
#green-goblin {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 120%;
    bottom: 10%;
    transition: 1s;
    z-index: 3;
}


/* goblin-face */
.g-face {
    height: 30px;
    width: 25px;
    background-color: #094709;
    border-radius: 50% 0px 50% 20px;
    transform: rotate(-10deg);
    position: absolute;
    top: 12%;
    left: 58%;
    outline: 4px solid #4a2170;
}

/* goblin-body */
.g-body {
    height: 40px;
    width: 15px;
    position: absolute;
    transform: rotate(-10deg);
    background-color: #4a2170;
    border-right: 4px dotted #f0f000;
    border-left: 4px dotted #f0f000;
    top: 25%;
    left: 60%;
    z-index: 1;
}

/* both arms and legs */
.g-leg-arms {
    position: absolute;
    border-radius: 10px;
    border: 10px solid #094709;
    border-top: 13px solid #4a2170;
    border-bottom: none;
}

/* goblin-arms */
.g-Arms {
    height: 20px;
    width: 45px;
    top: 25%;
    left: 50%;
}

/* goblin-legs */
.g-Legs {
    height: 20px;
    width: 35px;
    top: 40%;
    left: 52%;
    transform: rotate(10deg);
    z-index: 2;
}

/* goblin-glider */
.g-glider {
    width: 30px;
    height: 10px;
    position: absolute;
    border-top: solid 20px #28032f;
    border-left: solid 30px transparent;
    border-right: solid 60px transparent;
    left: 30%;
    top: 50%;
    transform: rotate(10deg);
    z-index: 2;
}

/* goblin-boosters */
.g-boosters {
    height: 10px;
    width: 30px;
    position: absolute;
    background: linear-gradient(red, orangered, yellow);
    transition: 0.2s;
    animation: booster-anime 0.1s linear infinite;
    transform: rotate(15deg);
}

#g-bs1 {
    top: 55%;
    left: 65%;
}

#g-bs2 {
    top: 57%;
    left: 60%;
    z-index: 3;
}

/* goblin-bullets */
.g-bullets {
    height: 3px;
    width: 10px;
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
    transition: 0.5s;
    transform: rotate(-30deg);
}

/*  goby animes */
.goby-incoming {
    animation: goby-anime 2s linear 8 3s;
}

.goby-speedup {
    left: 120%;
    animation: goby-speedup 1.9s linear infinite 3s;
}

#g-bt1 {
    animation: bullet1-anime 0.2s linear infinite;
    z-index: 1;
}

#g-bt2 {
    animation: bullet2-anime 0.2s linear infinite;
    z-index: 3;
}